<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% block js %}
    {% endblock %}
  </head>
  <body>

    {% if user.is_authenticated %}

    <nav class="navbar navbar-default navbar-static-top">

      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-link" href="{% url 'home' %}">HOME</a></li>
          <li><a class="navbar-link" href="{% url 'logout' %}">Log Out</a></li>

        </ul>
      </div>

    </nav>

    <div class="container">
      <h4 class="text-center text-danger">HELLO {{user.username}}</h4>

      <h4>
          Your seat has been removed.
      </h4>

          <br>
      {% block body_block %}



      {% endblock %}

    </div>


    {% else %}

      <div class="container">
        <div style="background-color:#b0e0e6" class="jumbotron">

          <h4>Please Log In</h4>

          <form action={% url 'Candidate:user_login' %} method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
            <br>
            <input type="submit" class="btn  btn-danger" name="" value="Login">
          </form>

        </div>

      </div>

      <div class="container">
        <div style="background-color:#b0e0e6" class="jumbotron">

          <h4 class="text-danger">Haven't Registered, Register!</h4>

          <a href={% url 'Candidate:register' %} class="text-danger"><button type=submit class="btn btn-primary">REGISTER</button></a>
        </div>

      </div>


    {% endif %}


  </body>
</html>
